
local.properties

.gradle/2.2.1/taskArtifacts/cache.properties

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.gradle/2.2.1/taskArtifacts/fileHashes.bin

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/outputFileStates.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.idea/libraries/support_v4_22_0_0.xml

.idea/libraries/appcompat_v7_22_0_0.xml

.idea/libraries/support_annotations_22_0_0.xml

.idea/libraries/gson_2_3.xml

local.properties

local.properties

local.properties

.idea/misc.xml

local.properties

local.properties

local.properties

local.properties

local.properties

.idea/misc.xml

.idea/libraries/appcompat_v7_21_0_0.xml

.idea/libraries/support_v4_21_0_0.xml

.idea/libraries/appcompat_v7_19_0_1.xml

.idea/libraries/appcompat_v7_19_0_1.xml

.idea/libraries/jackson_core_2_3_2.xml

.idea/libraries/jackson_databind_2_3_2.xml

.idea/libraries/spring_android_core_1_0_1_RELEASE.xml

.idea/workspace.xml

.idea/libraries/spring_android_rest_template_1_0_1_RELEASE.xml

.idea/libraries/support_annotations_21_0_0.xml

.idea/libraries/jackson_annotations_2_3_0.xml

build/intermediates/dex-cache/cache.xml

.idea/misc.xml

.idea/misc.xml

build/intermediates/dex-cache/cache.xml

build/intermediates/model_data.bin.cpgz

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/libraries/appcompat_v7_21_0_2.xml

.idea/libraries/cardview_v7_21_0_3.xml

.idea/libraries/ldrawer_0_1.xml

.idea/libraries/library_1_0_5.xml

.idea/libraries/material_1_1_0.xml

.idea/libraries/support_annotations_21_0_2.xml

.idea/libraries/support_v4_21_0_2.xml

.idea/libraries/universal_image_loader_1_9_1.xml

.idea/misc.xml

local.properties

build/intermediates/dex-cache/cache.xml

build/intermediates/dex-cache/cache.xml

build/intermediates/model_data.bin

local.properties
