/build

local.properties

.gradle/2.2.1/taskArtifacts/cache.properties

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.gradle/2.2.1/taskArtifacts/fileHashes.bin

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/outputFileStates.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.idea/libraries/support_v4_22_0_0.xml

.idea/libraries/appcompat_v7_22_0_0.xml

.idea/libraries/support_annotations_22_0_0.xml

.idea/libraries/gson_2_3.xml

local.properties

local.properties

local.properties

.idea/misc.xml

local.properties

local.properties

local.properties

local.properties

local.properties

.idea/misc.xml

.idea/libraries/appcompat_v7_21_0_0.xml

.idea/libraries/support_v4_21_0_0.xml

.idea/libraries/appcompat_v7_19_0_1.xml

.idea/libraries/appcompat_v7_19_0_1.xml

.idea/libraries/jackson_core_2_3_2.xml

.idea/libraries/jackson_databind_2_3_2.xml

.idea/libraries/spring_android_core_1_0_1_RELEASE.xml

.idea/workspace.xml

.idea/libraries/spring_android_rest_template_1_0_1_RELEASE.xml

