<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emergency.activities"> <!-- GCM requires Android SDK version 2.2 (API level 8) or above. -->
    <!--
 The targetSdkVersion is optional, but it's always a good practice
         to target higher versions.
    -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- ajout parse debut -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.emergency.emergency.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.emergency.emergency.permission.C2D_MESSAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- ajout parse fin -->
    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyCompatTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ajout parse -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.emergency.emergency" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
        <!-- parse fin -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAaWHMbLX5uY1KPfKLlnCWFzFwV_6OLlmM" />

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2db6d1abf782f58c4e28302c79a23241a0825772" />
        <meta-data
            android:name="DATABASE"
            android:value="emergency.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.emergency.entity" />

        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup">

        </activity>
    </application>

</manifest>
